src/main/resources/xsd/PaymentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xs:element name="PaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SenderCard" type="xs:string"/>
        <xs:element name="ReceiverCard" type="xs:string"/>
        <xs:element name="SenderAccount" type="xs:string"/>
        <xs:element name="ReceiverAccount" type="xs:string"/>
        <xs:element name="Amount" type="xs:decimal"/>
        <xs:element name="AcquirerBic" type="xs:string"/>
        <xs:element name="IssuerBic" type="xs:string"/>
        <xs:element name="ReceiverBic" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
